<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>os_overrides</key>
	<dict>
		<key>freebsd</key>
		<dict>
			<key>packages</key>
			<array>
				<string>scribus</string>
			</array>
			<key>postinstall_command</key>
			<string>/usr/local/bin/scribus</string>
		</dict>
		<key>openbsd</key>
		<dict>
			<key>packages</key>
			<array>
				<string>scribus</string>
			</array>
			<key>postinstall_command</key>
			<string>/usr/local/bin/scribus</string>
		</dict>
	</dict>
	<key>packages</key>
	<array>
		<string>scribus</string>
	</array>
	<key>postinstall_command</key>
	<string>/usr/bin/scribus</string>
</dict>
</plist>
